<section class="accessories mb-4">
	<div class="container">
        <div class="row justify-content-center">
	      {% for block in section.blocks %}
             {% assign product = all_products[block.settings.product] %}
			<div class="col-sm-6 col-lg-4 mb-5 mb-lg-0">
				<div class="accessories-img">
					{% if block.settings.image != blank %}
					  		<img src="{{ block.settings.image | img_url : 'master' }}" loading="lazy" alt="{{ block.settings.image.alt }}" class="img-fluid">
                      {% else %}
                        {{ 'product-1' | placeholder_svg_tag }}
                          {% endif %}
					<div class="accessories-img-hover">
						<div class="product-accessories">
							{% if product.featured_image != blank %}
					  		<img src="{{ product.featured_image | img_url : 'master' }}" loading="lazy" alt="{{ product.featured_image.alt }}" class="img-fluid">
                      {% else %}
                        {{ 'product-1' | placeholder_svg_tag }}
                          {% endif %}
						</div>
						<h3 class="product-name"> <a href="{{ product.url }}"> {{ product.title }} </a> </h3>
						<div class="d-flex justify-content-between">
							<p class="product-price">{% render 'price', product: product, price_class: '' %} </p>
						</div>
					</div>
				</div>
			</div>			
          {% endfor %}
			  <div class="col-sm-6 col-lg-4 align-self-center mb-5 mb-lg-0">
				<div class="content">
					<h2 class="section-heading mb-4"> {{ section.settings.heading }} </h2>
					<p class="mb-5">{{ section.settings.text }}</p>
                    {% if section.settings.button_url != blank %}
						<a href="{{ section.settings.button_url }}"><button class="view-more-btn">
												{% render 'btn-border' %}
												<span>{{ section.settings.button_text }}</span>
											</button></a>
                      {% endif %}
				</div>
			</div>
        </div>
	</div>
	
</section>
{% schema %}
  {
    "name": "Accessories",
    "settings": 
      [
          {
                      "type" : "text",
                      "id" : "heading",
                      "label" : "Heading"
                  },
                  {
                      "type" : "textarea",
                      "id" : "text",
                      "label" : "Text"
                  },
                  {
                      "type" : "text",
                      "id" : "button_text",
                      "label" : "Button Text"
                  },
                  {
                      "type" : "url",
                      "id" : "button_url",
                      "label" : "Button url"
                  }
      ],
    "blocks":
      [
          {
              "name" : "Product",
              "type" : "Product",
              "limit" : 2,
              "settings":
              [
                  {
                      "type" : "image_picker",
                      "id" : "image",
                      "label" : "Image"
                  },
                  {
                      "type" : "product",
                      "id" : "product",
                      "label" : "Product"
                  }
              ]
          }
      ],
    "presets":
    [
        {
           "name" : "About Accessories",
            "category" : "Custom Sections"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}