
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">


{%- if settings.cart_type == "drawer" -%}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
  {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{%- endif -%}


<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }



  @media screen and (min-width: 990px) {
    header-drawer {
      display: none;
    }
  }

 
</style>


<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == "drawer" -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>
 <header class="header">
		  <div class="container">
		  	<div class="d-flex justify-content-between">
		  		<a href="{{ routes.root_url }}"><div class="logo">
                 {%- if section.settings.logo != blank -%}
		  			<img src="{{ section.settings.logo | img_url : "master" }}" alt="{{ shop.name }}" loading="lazy" width="100%">
                  {% else %}
                     <span class="h2">{{ shop.name }}</span>
                   {% endif %}
		  		</div></a>
		  		
		  		<nav class="nav-bar" id="myTopnav" >
		  			<ul class="">
                      {% for link in linklists[section.settings.menu].links %}
		  				<li><a href="{{ link.url }}" class="{% if link.active %}active{% endif %}">{{ link.title }}</a></li>
                      {% endfor %}		  		       
		  			</ul>
		  		</nav>
		  		<div class="nav-right">
		  			<a href="/search" class="search-btn">                      	
                        {% render 'icon-search' %}
                      </a>

              <a href="{{ routes.cart_url }}" class="header__icon--cart link focus-inset" id="cart-icon-bubble">
        {%- liquid
          if cart == empty
            render 'icon-cart-empty'
          else
            render 'icon-cart'
          endif
        -%}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true" class="cart-counter">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
		  		  <a href="javascript:void(0);" class="bars"> {% render 'icon-bar' %} </a>
					<div class="bannerp-popup">
						
						<a href="javascript:void(0);" class="close"> 
							<img src="{{ 'close.png' | asset_img_url : "master" }}" alt="close-icon" loading="lazy">
						</a>
						<div class="side-popup">
						<div class="popup-logo">
                          <img src="{{ section.settings.popup_logo | img_url : "master" }}" alt="{{ section.settings.popup_logo.alt }}" loading="lazy" class="img-fluid">
						</div>
						<h3>{{ section.settings.heading }}</h3>
						<div class="popup-img"> 
							{% for block in section.blocks %}
                              {% if block.settings.image != blank %}
                                    <img src="{{ block.settings.image | img_url : "master" }}" alt="{{ block.settings.image.alt }}" loading="lazy" class="img-fluid">
                                {% endif %}
                              {% endfor %}
						</div>
						<p>
                          {{ section.settings.instagram }}
                          <a href="{{ settings.social_instagram_link }}" target="_blank"> 
                            {{ section.settings.instagram_name }}
                          </a>
                        </p>
						</div>
					</div>
		  	   </div>
		  	   <div class="align-self-center d-block d-lg-none">
		  			<a href="javascript:void(0);" class="icon" id="bars">
					    <span></span>
					    <span></span>
					    <span></span>
					  </a>
		  		</div>
		  	</div>
		  	</header>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}
{%- endif -%}


<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
  {
    "name": "Header",
    "settings": 
    [
        {
          "type" : "image_picker",
            "id" : "logo",
            "label" : "Logo"
        },
        {
          "type" : "link_list",
            "id" : "menu",
            "label" : "Main Menu"
        },
        {
          "type" : "header",
            "content" : "Instagram Popup"
        },
        {
          "type" : "image_picker",
            "id" : "popup_logo",
            "label" : "Popup Logo"
        },
        {
          "type" : "text",
            "id" : "heading",
            "label" : "Heading"
        },
        {
          "type" : "text",
            "id" : "instagram",
            "label" : "Instagram Follow Up"
        },
        {
          "type" : "text",
            "id" : "instagram_name",
            "label" : "Profile Name"
        }
    ],
    "blocks":
    [
        {
            "name": "Instagram Image",
            "type": "insta_section",
            "limit" : 4,
            "settings": 
            [
                {
                  "type" : "image_picker",
                    "id" : "image",
                    "label" : "Image"
                }
            ]
          }
    ]
  }
{% endschema %}
